.frameContainer{
    display: flex;
    flex-direction: column;
    height: 28rem;
    width: 22rem;
    padding: 1rem;
    justify-content: space-between;
    border: .1rem solid var(--textBlack);
    border-radius: 1rem;
}
.imgCon{
    width: 4rem;
    height: 4rem;
}
.imgCon img{
    width: 20rem;
    height: 20rem;
    object-fit: contain;
}
.about{
    display: flex;
    justify-content: space-between;
}
.about .right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.bold{
    font-weight: bold;
}
