.placeCon{
    margin: 3rem 4rem;
}
.placeCon .allplaces{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}
.allplaces .place{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}